@import './reset.css';

/**** GENERAL ****/
body {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-weight: normal;
}

/**** HEADER ****/
.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.header-items h1 {
    font-size: 1.8rem;
    font-weight: 900;
}

.header-items svg {
    width: 100%;
    max-width: 2rem;
}

.header-items svg:hover {
    cursor: pointer;
}

/**** MAIN ****/

/* Modal */
.add-book-modal::backdrop {
    background-color: rgba(0, 0, 0, .3);
}

.add-book-modal {
    margin-top: 4rem;
    border-radius: 10px;
}

.close-modal {
    display: flex;
    justify-content: flex-end;
}

.close-modal svg {
    width: 100%;
    max-width: 1.5rem;
}

.close-modal svg:hover {
    cursor: pointer;
} 

/* Add Book Form */
.add-book-form {
    width: 20rem;
}

.add-book-form h2 {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.form-row {
    margin-top: 1rem;
}

.form-row label:not(label[for="read"]) {
    display: block;
    margin-bottom: .25rem;
    font-weight: bold;
}

.form-row input:not(input[type="checkbox"]) {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    padding: .5rem 0;
}

.form-row input:not(input[type="checkbox"]):focus {
    outline: none;
    border-bottom: 1px solid transparent;
    box-shadow: 0 2px 0 0 black;
    transition: .25s;
}

.form-row.form-checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.form-checkbox label {
    font-size: .9rem;
}

.form-row:has(button) {
    text-align: center;
}

.form-row button {
    font-size: 1rem;
    padding: .5rem 2rem;
    background-color: transparent;
    border: 1px solid;
    border-radius: 8px;
}

.form-row button:hover {
    background-color: red;
    cursor: pointer;
}

.form-row button:active {
    background-color: blue;
}