@import './reset.css';
@import './colors.css';

/**** GENERAL ****/
body {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-weight: normal;
    background-color: var(--main-bg-color);
}

.display-none {
    display: none;
}

/**** HEADER ****/
header {
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.05);
    margin-bottom: 1rem;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .5rem;
}

.header-items h1 {
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--dark-text);
}

.header-items svg {
    width: 100%;
    max-width: 2rem;
    fill: var(--dark-text);
}

.header-items svg:hover {
    fill: var(--border-color);
    cursor: pointer;
}

/**** MAIN ****/

/* Modal */
.add-book-modal::backdrop {
    background-color: rgba(0, 0, 0, .7);
}

.add-book-modal {
    margin-top: 4rem;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.close-modal {
    display: flex;
    justify-content: flex-end;
}

.close-modal svg {
    width: 100%;
    max-width: 1.5rem;
    fill: var(--dark-text);
}

.close-modal svg:hover {
    fill: var(--border-color);
    cursor: pointer;
} 

/* Add Book Form */
.add-book-form {
    width: 20rem;
}

.add-book-form h2 {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color: var(--dark-text);
}

.form-row {
    margin-top: 1rem;
}

.form-row label:not(label[for="read"]) {
    display: block;
    margin-bottom: .25rem;
    font-weight: bold;
    color: var(--dark-text);
}


.form-row input:not(input[type="checkbox"]) {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border-color);
    padding: .5rem 0;
}

.form-row input:not(input[type="checkbox"])::placeholder {
    color: var(--light-text);
}

.form-row input:not(input[type="checkbox"]):focus {
    outline: none;
    border-bottom: 1px solid transparent;
    box-shadow: 0 2px 0 0 var(--dark-text);
    transition: .25s;
}

.form-row.form-checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.form-checkbox label {
    font-size: .9rem;
    color: var(--dark-text);
}

.form-row:has(button) {
    text-align: center;
}

.form-row button {
    font-size: 1rem;
    padding: .5rem 2rem;
    background-color: transparent;
    color: var(--dark-text);
    border: 1px solid var(--button-border-color);
    border-radius: 8px;
}

.form-row button:hover {
    background-color: var(--button-border-color);
    color: var(--main-bg-color);
    cursor: pointer;
}

.form-row button:active {
    background-color: var(--light-text);
}

.form-error {
    text-align: center;
    margin-top: .75rem;
    padding: .5rem;
    color: var(--main-bg-color);
    background-color: var(--dark-text);
}

/* Library Grid */
.library-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 1rem;
    padding: 0 .5rem;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: .5rem;
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.15);
}

.book-card-item {
    margin: 1rem 0;
    text-align: center;
}

.book-card h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: .5rem;
    color: var(--dark-text);
}

.book-card p {
    color: var(--light-text);
}

.book-card button {
    font-size: 1rem;
    padding: .5rem 2rem;
    background-color: transparent;
    border: 1px solid var(--button-border-color);
    border-radius: 8px;
    width: 100%;
    color: var(--dark-text);
}

.book-card button:hover {
    background-color: var(--button-border-color);
    color: var(--main-bg-color);
    cursor: pointer;
}

.book-card button:active {
    background-color: var(--light-text);
}